<h1>学習タイプ編集</h1>

<%= render 'form', study_type: @study_type %>

<%= link_to 'Show', @study_type, { class: "btn btn-primary" } %> |
<%= link_to 'Back', study_types_path, { class: "btn btn-primary" } %>
